<h1 style="color:rgb(199, 0, 57)"> Working with LIST </h1>

<b> Author: ***** </b> <br>
Language: Python <br>
Version: 1.0.0 <br>
Date: 24-Aug-2020<br>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* list.append(x) - Add an item to the end of the list.</p>

In [ ]:
my_list = ["a", "b"]
my_list.append('c')

print(f"{my_list = }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* list.insert(i, x) - Insert an item at a given position. </p>

In [ ]:
my_list = ["a", "b"]
my_list.insert(1, "c")

print(f"{my_list = }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* list.append(x) - data using loop </p>

In [ ]:
my_list = []
x = 1

while x <= 3:
        my_list.append(input("Enter your name: "))
        x+=1
print(f"{my_list = }")

print("-" * 127)

my_list = [input("Enter your name: ") for i in range(1, 4)]
print(f"{my_list = }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* list.index(x[, start[, end]]) - Return zero-based index in the list of the first item whose value is equal to (x).</p>

In [ ]:
my_list = ["cherry", "fig", "kiwi", "banana", "lime", "mango", "apple", "blackberry", "watermelon", "blueberry", "grapes"]

y = tuple((my_list.index(x), x) for x in my_list)

for i in y:
    print(f"{i}")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* list.remove(x) - Remove the first item from the list whose value is equal to (x) </p>

In [ ]:
my_list = [1, 3, 2, 4, 1, 3, 2]
my_list.remove(int(input('Enter number: ')))

print(f"{my_list = }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* list.count(x) - Return the number of times x appears in the list. </p>

In [ ]:
my_list = [1, 3, 2, 4, 1, 3, 2]

print(f"{my_list.count(int(input('Enter number: '))) = }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* list.sort(key=None, reverse=False) - Sort the items of the list in place. </p>

In [8]:
my_list = [1, 3, 2, 4, 1, 3, 2]
my_list.sort(key=None, reverse=True)

print(f"{my_list = }")

my_list = [4, 3, 3, 2, 2, 1, 1]

<p style="color:RGB(65, 105, 225); font-size: 14pt">* list.reverse() - Reverse the elements of the list in place. </p>

In [ ]:
my_list = [1, 3, 2, 4, 1, 3, 2]
my_list.reverse()

print(f"{my_list = }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">Declare </p>

In [ ]:
fruit1 = ["orange", "grapes", "apple","cherry", "banana", "mango"]

fruit2 = ["apple", "kiwi", "blackberry","orange", "lime", "jackfruit"]

fruit3 = ["cherry", "fig", "kiwi", "banana", "lime", "mango", "apple", "blackberry", "watermelon", "blueberry", "grapes",
          "strawberry", "jackfruit", "Apple", "Watermelon", "Orange", "Pear", "Cherry", "Strawberry", "Nectarine",
          "Grape", "Mango", "Blueberry",  "Pomegranate", "Carambola", "Plum", "Banana", "Raspberry", "Mandarin", "Jackfruit",
          "Papaya", "Kiwi", "Pineapple", "Lime", "Lemon", 'Apricot', "Grapefruit", "Melon", "Coconut", "Avocado", "Peach"]

fruit4 = [(1, "Cherry"), (2, "Fig"), (3, "Kiwi"), (4, "Banana"), (5, "Lime"), (6, "Mango"), (7, "Apple"), (8, "Blackberry"),
          (9, "Watermelon"), (10, "Blueberry"), (11, "Grapes"), (12, "Strawberry"), (13, "Jackfruit"), (14, "Orange"), (15,
          "Pear"), (16, "Pomegranate"), (17, "Plum"),(18, "Raspberry"), (19, "Papaya"), (20, "Pineapple"), (21, "Lime"),
          (22, "Lemon"), (23, "Coconut"), (24, "Avocado"), (25, "Peach")]

vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

vehicles = [(1, "Van", 4), (2, "Taxi", 4), (3, "Police car", 4), (4, "Bus", 6), (5, "Ambulance", 4), (6, "Skateboard", 2), (7,
            "Bicycle", 2), (8, "Mountain bike", 2), (9, "Scooter", 2), (10, "Motorcycle", 2), (11, "Fire engine", 10), (12, 
            "Crane", 10), (13, "Tractor", 4), (14, "Recycling truck", 10), (15, "Cement mixer", 10), (16, "Dump truck", 10), 
            (17, "Helicopter", 0), (18, "Airplane", 9), (19, "Rowboat", 0), (20, "Boat", 0), (21, "Train", 0)]

numbers = [345, 456, 234, 48, 123, 34, 86, 45, 885, 35, 86, 11, 36, 3, 89, 371, 2346, 3552, 2352, 1521, 6124, 162, 132, 623, 
           63, 68, 2334, 623, 4115, 25, 6, 35, 845, 84, 562, 451, 5123]

<p style="color:RGB(65, 105, 225); font-size: 14pt">* range slicing</p>
    
Syntax: <br><span style="color:RGB(0, 191, 255); font-size: 12pt"> [ start: stop: step ]

In [ ]:
fruit1 = ["orange", "grapes", "apple","cherry", "banana", "mango"]
fruit1 # All elements

fruit1[1]
fruit1[::2]

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Difference in LIST comprehension </p>

In [ ]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]

x = [i for i in a for j in b]
y = [(i, j) for i in a for j in b]
z = [[i for i in a] for j in b]

print(f"{x= }")
print()
print(f"{y= }")
print()
print(f"{z= }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Find duplicate number from LIST </p>

In [ ]:
numbers = [345, 456, 234, 48, 123, 34, 86, 45, 885, 35, 86, 11, 36, 3, 89, 371, 2346, 3552, 2352, 1521, 6124, 162, 
           132, 623, 63, 68, 2334, 623, 4115, 25, 6, 35, 845, 84, 562, 451, 5123]

x = [i for i in numbers if numbers.count(i) > 1]
print()
print(f"{x = }")
print("-" * 125)

x = [i if numbers.count(i) > 1 else 'X' for i in numbers]
print(f"{x = }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Remove all matching item from the LIST whose value is equal to (x)</p>

In [ ]:
my_list = [1, 3, 2, 4, 7, 8, 9, 7, 1, 3, 2, 1, 3]

[my_list.remove(x) for x in my_list if my_list.count(x) >= 2]

print(f"After: {my_list = }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* LIST comprehension --> (enter some names) </p>

In [ ]:
userNames = [input("Enter user name: ") for i in range(3)]
print()
print(f"Use Name: {userNames= }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Merge two list using LIST comprehension </p>

In [ ]:
fruit1 = ["orange", "grapes", "apple","cherry", "banana", "mango"]
fruit2 = ["apple", "kiwi", "blackberry","orange", "lime", "jackfruit"]

x = [j for i in [fruit1, fruit2] for j in i]
print()
print(f"{x = }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Tables using LIST comprehension </p>

In [ ]:
x = [[i * j for i in range(1, 11)] for j in range(4, 8)]
print(f"{x= }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Find Vowels in string using LIST comprehension </p>

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

s = input("Enter string: ")

x = [i for i in s if i in vowels]
print(f"{x= }")

#----------------------------------------------------------------------------

x = [i for i in s if i not in vowels]
print(f"{x= }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Find LIST1 value in LIST2 and produce sum of them using LIST comprehension  with SUM function</p>

In [ ]:
l1 = [1, 5, 8, 3, 1, 5, 8, 5, 3, 11, 35, 23, 54]
l2 = [4, 5, 7, 1, 35, 7, 9, 3, 5, 82, 34, 45, 75, 86, 12, 5, 56, 65, 6, 89, 35, 23, 34, 36, 64, 63, 74, 34]

x1 = [i for i in l1 if i in l2]
x2 = sum([i for i in l1 if i in l2])

print(f"{x1= }")
print(f"{x2= }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Example 1.0.  using LIST comprehension with IF</p>

In [ ]:
fruit3 = [(1, "Cherry"), (2, "Fig"), (3, "Kiwi"), (4, "Banana"), (5, "Lime"), (6, "Mango"), (7, "Apple"), (8, "Blackberry"),
          (9, "Watermelon"), (10, "Blueberry"), (11, "Grapes"), (12, "Strawberry"), (13, "Jackfruit"), (14, "Orange"), (15,
          "Pear"), (16, "Pomegranate"), (17, "Plum"),(18, "Raspberry"), (19, "Papaya"), (20, "Pineapple"), (21, "Lime"),
          (22, "Lemon"), (23, "Coconut"), (24, "Avocado"), (25, "Peach")]
display = [2, 8, 6, 12, 5, 1, 24, 14, 12, 21, 7, 25]

x = [j for i in display for j in fruit3 if j[0] == i ]

print(f"{x= }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Example 1.0.  using LIST comprehension with IF </p>

In [ ]:
vehicles = [(1, "Van", 4), (2, "Taxi", 4), (3, "Police car", 4), (4, "Bus", 6), (5, "Ambulance", 4), (6, "Skateboard", 2), (7,
            "Bicycle", 2), (8, "Mountain bike", 2), (9, "Scooter", 2), (10, "Motorcycle", 2), (11, "Fire engine", 10), (12,
            "Crane", 10), (13, "Tractor", 4), (14, "Recycling truck", 10), (15, "Cement mixer", 10), (16, "Dump truck", 10),
            (17, "Helicopter", 0), (18, "Airplane", 9), (19, "Rowboat", 0), (20, "Boat", 0), (21, "Train", 0)]
a = [3, 2, 1,6, 5, 4, 11, 21]

x = [j for i in a for j in vehicles if j[0] == i ]

print(f"{x= }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Example 2. using LIST comprehension  with IF ELSE </p>

In [ ]:
vehicles = [(1, "Van", 4), (2, "Taxi", 4), (3, "Police car", 4), (4, "Bus", 6), (5, "Ambulance", 4), (6, "Skateboard", 2), (7,
            "Bicycle", 2), (8, "Mountain bike", 2), (9, "Scooter", 2), (10, "Motorcycle", 2), (11, "Fire engine", 10), (12,
            "Crane", 10), (13, "Tractor", 4), (14, "Recycling truck", 10), (15, "Cement mixer", 10), (16, "Dump truck", 10),
            (17, "Helicopter", 0), (18, "Airplane", 9), (19, "Rowboat", 0), (20, "Boat", 0), (21, "Train", 0)]

a = [3, 2, 1,6, 5, 4, 11, 21, 255 ]

x = [j if j[0] == i else False for i in a for j in vehicles]

print(f"{x= }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Example 3. get all vehicles using LIST comprehension </p>

In [ ]:
vehicles = [(1, "Van", 4), (2, "Taxi", 4), (3, "Police car", 4), (4, "Bus", 6), (5, "Ambulance", 4), (6, "Skateboard", 2), (7,
            "Bicycle", 2), (8, "Mountain bike", 2), (9, "Scooter", 2), (10, "Motorcycle", 2), (11, "Fire engine", 10), (12,
            "Crane", 10), (13, "Tractor", 4), (14, "Recycling truck", 10), (15, "Cement mixer", 10), (16, "Dump truck", 10),
            (17, "Helicopter", 0), (18, "Airplane", 9), (19, "Rowboat", 0), (20, "Boat", 0), (21, "Train", 0)]

while c := input("Do you to continue! ").lower() == 'y':
        a = input("Enter vehicles type(no of vehicles): ")
        x = [j for i in a for j in vehicles if j[2] == int(a)]
        x.
        if x == [] :
            print('Vehicle not found!')
        else:
            print(f"{x= }")
else:
    print("Bye!")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* To convert first letter in upper and remaining in lower using LIST comprehension </p>

In [ ]:
names = ["amit", "raju", "baba", "DEEPAK", "sushant" , "ankit", "pankaj" ,"BOY", "bhavin", "anoop", "jERRY", "patil", "neeraj"]

x = [name[0].upper() + name[1:].lower() for name in names]

print(f"{x= }")

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO using LIST comprehension </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO using LIST comprehension </p>