<h1 style="color:rgb(199, 0, 57)"> Working with Panda </h1>

<b> Author: ***** </b> <br>
Language: Python/Panda <br>
Version: 1.0.0 <br>
Date: 09-Sept-2020<br>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

In [ ]:
import pandas as pd
import numpy as np

country = { "CountryName" :["Somaliland", "South Georgia and South Sandwich Islands", "French Southern and Antarctic Lands", 
                            "Palestine"],
            "CapitalName":["Hargeisa", "King Edward Point", "Port-aux-Fran√ßais", "Jerusalem"],
            "CapitalLatitude":[9.55, -54.283333, -49.35, 31.76666667],
            "CapitalLongitude":[44.05, -36.5, 70.216667, 35.233333],
            "CountryCode":[None, "GS", "TF", "PS"],
            "ContinentName":["Africa", "Antarctica", "Antarctica", "Asia"],

}

df = pd.DataFrame(country)
print(df)

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

In [ ]:
import pandas as pd
import numpy as np

person = {"_id": [1001, 1002, 1003, 1004, 1005, 1006, 1007],
          "firstName" :["amit", "pankaj", "boy", "ruhan", "saleel", "anoop","rajan"],
          "Job": ["manager", "salesman", "manager", "salesman", "salesman", "accountant", "purchase"],
          "canVote":[True, False, True, False, True, True, False],
          "canDrive":[True, True, True, True, True, True, True],
          "Salary": [2500, 5000, 3200, 800, 7400,5500,3410]
          }

df = pd.DataFrame(person, columns=["_id", "firstName", "Job", "canVote", "canDrive", "Salary", "DoB"])

print(df)

<p style="color:RGB(65, 105, 225); font-size: 14pt">e.g.1. Data Filter </p>

In [4]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 140)
pd.set_option('display.width', 240)

df = pd.read_csv("ufo.csv", names=["City", "Colors Reported", "Shape Reported", "State", "Time"], nrows=38,
                 header=1)

df["How Many UFO"] = [np.random.randint(1, 4) for i in np.arange(1, max(df.count() + 1))]

# df.fillna(value={"Colors Reported" : 'color not defined'},inplace=True)

# print(df [df["Colors Reported"] == 'color not defined' ])
print(df)

                    City Colors Reported Shape Reported State              Time  How Many UFO
0            Willingboro             NaN          OTHER    NJ   6/30/1930 20:00             3
1                Holyoke             NaN           OVAL    CO   2/15/1931 14:00             3
2                Abilene             NaN           DISK    KS  06-01-1931 13.00             1
3   New York Worlds Fair             NaN          LIGHT    NY   4/18/1933 19:00             2
4            Valley City             NaN           DISK    ND   9/15/1934 15:30             2
5            Crater Lake             NaN         CIRCLE    CA    6/15/1935 0:00             1
6                   Alma             NaN           DISK    MI    7/15/1936 0:00             3
7                Eklutna             NaN          CIGAR    AK  10/15/1936 17:00             3
8                Hubbard             NaN       CYLINDER    OR    6/15/1937 0:00             3
9                Fontana             NaN          LIGHT    CA   8/15/1937 21:00             2
10              Waterloo             NaN       FIREBALL    AL  06-01-1939 20.00             2
11                Belton             RED         SPHERE    SC   6/30/1939 20:00             1
12                Keokuk             NaN           OVAL    IA   07-07-1939 2.00             1
13             Ludington             NaN           DISK    MI  06-01-1941 13.00             1
14           Forest Home             NaN         CIRCLE    CA  07-02-1941 11.30             2
15           Los Angeles             NaN            NaN    CA    2/25/1942 0:00             3
16             Hapeville             NaN            NaN    GA  06-01-1942 22.30             1
17                Oneida             NaN      RECTANGLE    TN    7/15/1942 1:00             3
18            Bering Sea             RED          OTHER    AK   4/30/1943 23:00             3
19              Nebraska             NaN           DISK    NE  06-01-1943 15.00             3
20                   NaN             NaN            NaN    LA    8/15/1943 0:00             2
21                   NaN             NaN          LIGHT    LA    8/15/1943 0:00             2
22             Owensboro             NaN      RECTANGLE    KY  10/15/1943 11:00             1
23            Wilderness             NaN           DISK    WV  01-01-1944 10.00             1
24             San Diego             NaN          CIGAR    CA  01-01-1944 12.00             1
25            Wilderness             NaN           DISK    WV  01-01-1944 12.00             3
26                Clovis             NaN           DISK    NM  04-02-1944 11.00             1
27            Los Alamos             NaN           DISK    NM  06-01-1944 12.00             3
28          Ft. Duschene             NaN           DISK    UT   6/30/1944 10:00             1
29       South Kingstown             NaN         SPHERE    RI  07-01-1944 20.00             1
30           North Tampa             NaN       CYLINDER    FL   7/15/1944 13:00             2
31               Ft. Lee             NaN          CIGAR    VA  01-01-1945 12.00             1
32           Salinas AFB             NaN           DISK    CA  06-01-1945 12.00             2
33                Jasper             NaN       FIREBALL    FL  06-01-1945 13.30             2
34         Winston-Salem             NaN           DISK    NC   06-07-1945 7.00             1
35            Portsmouth             RED      FORMATION    VA   07-10-1945 1.30             1
36                Dallas             NaN         SPHERE    TX   7/15/1945 14:00             1
37      Huntington Beach             NaN           DISK    CA  08-08-1945 12.00             3

<p style="color:RGB(65, 105, 225); font-size: 14pt">* DateTime Functions </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* Add new column ("How Many UFO") with data in pandas.DataFrame </p>

In [5]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 140)
pd.set_option('display.width', 240)

df = pd.read_csv("ufo.csv", names=["City", "Colors Reported", "Shape Reported", "State", "Time"], nrows=38,
                 header=1)

df["How Many UFO"] = [np.random.randint(1, 4) for i in np.arange(1, max(df.count() + 1))]
df.fillna(value={"Colors Reported" : 'color not defined'},inplace=True)
print(df)

                    City    Colors Reported Shape Reported State              Time  How Many UFO
0            Willingboro  color not defined          OTHER    NJ   6/30/1930 20:00             1
1                Holyoke  color not defined           OVAL    CO   2/15/1931 14:00             3
2                Abilene  color not defined           DISK    KS  06-01-1931 13.00             3
3   New York Worlds Fair  color not defined          LIGHT    NY   4/18/1933 19:00             3
4            Valley City  color not defined           DISK    ND   9/15/1934 15:30             2
5            Crater Lake  color not defined         CIRCLE    CA    6/15/1935 0:00             2
6                   Alma  color not defined           DISK    MI    7/15/1936 0:00             3
7                Eklutna  color not defined          CIGAR    AK  10/15/1936 17:00             2
8                Hubbard  color not defined       CYLINDER    OR    6/15/1937 0:00             2
9                Fontana  color not defined          LIGHT    CA   8/15/1937 21:00             1
10              Waterloo  color not defined       FIREBALL    AL  06-01-1939 20.00             1
11                Belton                RED         SPHERE    SC   6/30/1939 20:00             1
12                Keokuk  color not defined           OVAL    IA   07-07-1939 2.00             2
13             Ludington  color not defined           DISK    MI  06-01-1941 13.00             1
14           Forest Home  color not defined         CIRCLE    CA  07-02-1941 11.30             3
15           Los Angeles  color not defined            NaN    CA    2/25/1942 0:00             3
16             Hapeville  color not defined            NaN    GA  06-01-1942 22.30             3
17                Oneida  color not defined      RECTANGLE    TN    7/15/1942 1:00             2
18            Bering Sea                RED          OTHER    AK   4/30/1943 23:00             2
19              Nebraska  color not defined           DISK    NE  06-01-1943 15.00             3
20                   NaN  color not defined            NaN    LA    8/15/1943 0:00             1
21                   NaN  color not defined          LIGHT    LA    8/15/1943 0:00             2
22             Owensboro  color not defined      RECTANGLE    KY  10/15/1943 11:00             2
23            Wilderness  color not defined           DISK    WV  01-01-1944 10.00             2
24             San Diego  color not defined          CIGAR    CA  01-01-1944 12.00             1
25            Wilderness  color not defined           DISK    WV  01-01-1944 12.00             1
26                Clovis  color not defined           DISK    NM  04-02-1944 11.00             1
27            Los Alamos  color not defined           DISK    NM  06-01-1944 12.00             2
28          Ft. Duschene  color not defined           DISK    UT   6/30/1944 10:00             2
29       South Kingstown  color not defined         SPHERE    RI  07-01-1944 20.00             2
30           North Tampa  color not defined       CYLINDER    FL   7/15/1944 13:00             1
31               Ft. Lee  color not defined          CIGAR    VA  01-01-1945 12.00             2
32           Salinas AFB  color not defined           DISK    CA  06-01-1945 12.00             3
33                Jasper  color not defined       FIREBALL    FL  06-01-1945 13.30             2
34         Winston-Salem  color not defined           DISK    NC   06-07-1945 7.00             2
35            Portsmouth                RED      FORMATION    VA   07-10-1945 1.30             1
36                Dallas  color not defined         SPHERE    TX   7/15/1945 14:00             3
37      Huntington Beach  color not defined           DISK    CA  08-08-1945 12.00             1

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

In [7]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 140)
pd.set_option('display.width', 240)

df = pd.read_csv("ufo.csv", names=["City", "Colors Reported", "Shape Reported", "State", "Time"], nrows=38,
                 header=1, index_col="City")
print(df)

                     Colors Reported Shape Reported State              Time
City
Willingboro                      NaN          OTHER    NJ   6/30/1930 20:00
Holyoke                          NaN           OVAL    CO   2/15/1931 14:00
Abilene                          NaN           DISK    KS  06-01-1931 13.00
New York Worlds Fair             NaN          LIGHT    NY   4/18/1933 19:00
Valley City                      NaN           DISK    ND   9/15/1934 15:30
Crater Lake                      NaN         CIRCLE    CA    6/15/1935 0:00
Alma                             NaN           DISK    MI    7/15/1936 0:00
Eklutna                          NaN          CIGAR    AK  10/15/1936 17:00
Hubbard                          NaN       CYLINDER    OR    6/15/1937 0:00
Fontana                          NaN          LIGHT    CA   8/15/1937 21:00
Waterloo                         NaN       FIREBALL    AL  06-01-1939 20.00
Belton                           RED         SPHERE    SC   6/30/1939 20:00
Keokuk                           NaN           OVAL    IA   07-07-1939 2.00
Ludington                        NaN           DISK    MI  06-01-1941 13.00
Forest Home                      NaN         CIRCLE    CA  07-02-1941 11.30
Los Angeles                      NaN            NaN    CA    2/25/1942 0:00
Hapeville                        NaN            NaN    GA  06-01-1942 22.30
Oneida                           NaN      RECTANGLE    TN    7/15/1942 1:00
Bering Sea                       RED          OTHER    AK   4/30/1943 23:00
Nebraska                         NaN           DISK    NE  06-01-1943 15.00
NaN                              NaN            NaN    LA    8/15/1943 0:00
NaN                              NaN          LIGHT    LA    8/15/1943 0:00
Owensboro                        NaN      RECTANGLE    KY  10/15/1943 11:00
Wilderness                       NaN           DISK    WV  01-01-1944 10.00
San Diego                        NaN          CIGAR    CA  01-01-1944 12.00
Wilderness                       NaN           DISK    WV  01-01-1944 12.00
Clovis                           NaN           DISK    NM  04-02-1944 11.00
Los Alamos                       NaN           DISK    NM  06-01-1944 12.00
Ft. Duschene                     NaN           DISK    UT   6/30/1944 10:00
South Kingstown                  NaN         SPHERE    RI  07-01-1944 20.00
North Tampa                      NaN       CYLINDER    FL   7/15/1944 13:00
Ft. Lee                          NaN          CIGAR    VA  01-01-1945 12.00
Salinas AFB                      NaN           DISK    CA  06-01-1945 12.00
Jasper                           NaN       FIREBALL    FL  06-01-1945 13.30
Winston-Salem                    NaN           DISK    NC   06-07-1945 7.00
Portsmouth                       RED      FORMATION    VA   07-10-1945 1.30
Dallas                           NaN         SPHERE    TX   7/15/1945 14:00
Huntington Beach                 NaN           DISK    CA  08-08-1945 12.00

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>

<p style="color:RGB(65, 105, 225); font-size: 14pt">* TODO </p>